* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.img {
  min-width: 380px;
  max-width: 100%;
}
#logo {
  position: absolute;
  top: 0;
  left: 15%;
  width: 50px;
  border-radius: 50%;
}
.mainContent nav {
  position: absolute;
  top: 0;
  padding: 15px 0;
  right: 10%;
}

.mainContent nav a {
  text-align: right;
  color: white;
  font-style: italic;
  font-weight: bold;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
}
.navSticky {
  top: 0;
  background-color: #fff;
  position: sticky;
  z-index: 10;
  width: 100%;
  display: flex;
  padding: 5px;
}
.navSticky img {
  margin-left: 7%;
  height: 60px;
}
.text {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 25px;
}

.text #MOUNTAINS {
  letter-spacing: 2px;
}
.navSticky nav {
  text-align: right;
  width: 100%;
  padding :15px;
}
.navSticky nav a {
  font-size: 18px;;
  font-weight: bold;
  color: #414f6b;
}
.history {
  position: relative;
}
.history .content {
  position: absolute;
  padding-top: 70px;
  top: 0;
}
.Carousel {
  position: relative;
  margin-top: -185px;
  background-color: rgba(55, 67, 90, 0.5);
  display: flex;
  justify-content: center;
}
#slideButtons{
  position: absolute;
  bottom: -25px;
}
input[type=radio]{
 width: 40px;
 height: 15px;
}
.Carousel img {
  width: 320px;
  height: 180px;
  border-radius: 5px;
 
}
.slideButtons #img {
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  height: 20px;
}
.Climb {
  padding-top: 60px;
  height: 200px;
}
.Climb p {
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  width: 50%;
  position: relative;
  top: -80px;
  left: 9%;
}

.tabs {
  padding-top: 10px;
  height: 50px;
  font-size: 25px;
  background-color: #414f6b;
}
.tabs nav {
  margin-left: 15%;
}
.tabs a {
  padding: 0px 20px;
  color: #a0a7b5;
}
.tabs a:hover {
  padding: 10px 20px;
  background-color: #a0a7b5;
  color: #414f6b;
  cursor: pointer;
   text-decoration: underline;
}
.img {
  width: 100%;
  min-height: 350px;
}
#MOUNTAINS2 {
  display: none;
}

footer {
  display: flex;
  padding-top: 5px;
  background-color: #414f6b;
  color: #5a6c90;
  margin-top: -5px;
}
footer img {
  margin-top: 5px;
  margin-left: 12%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
blockquote {
  padding: 25px 80px;
  text-align: right;
  width: 100%;
}

.num {
  font-size: 100px;
  letter-spacing: 0px;
  font-family: fantasy;
  margin-left: 20%;
  display: inline-block;
  text-align: center;
  color: #6b7b97;
}
.word {
  color: #414f6b;
  font-family: fantasy;
  position: relative;
  top: -20px;
  left: -20px;
  font-size: 25px;
}

.para {
  width: 70%;
  font-size: 20px;
  word-break: break-all;
  position: relative;
  margin: -12px auto;
  text-align: justify;
}
.tabContent {
  position: relative;
}
.schedule {
  padding: 20px;
  position: absolute;
  left: 20%;
  top: 12%;
  min-width: 300px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.7);
}
h5 {
  font-size: 20px;
  color: #4e628a;
}
.date,
.activity {
  font-size: 20px;
  display: inline-block;
  padding: 0px 5px;
}

@media only screen and (max-width: 768px) {
  footer {
    display: block;
  }
  footer img {
    margin-left: 30%;
  }

  .text {
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: -10px;
  }
  blockquote {
    padding: 5px;
    margin: 0;
    text-align: center;
    display: block;
  }
  .num,
  .word {
    zoom: 0.4;
  }
  .word {
    font-size: 50px;
  }
  .Climb p {
    position: relative;
    top: 0px;
    left: 0%;
    text-align: left;
    width: 90%;
    margin: 0 20px;
  }
  .navSticky nav a{
    font-size: 18px;
    padding: 5px;
  }
  .Carousel{
    margin-top: -145px;
  }
  .Carousel img{
    width: 240px;
    height: 140px;
  }
  #history .para{
    font-size: 18px;
    width: 90%;
    margin-top: 2px;
  }
}
